.retiro-form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario en la página */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #fff; /* Fondo blanco */
  }
  
  h2 {
    text-align: center; /* Centrar el título */
  }
  
  mat-form-field {
    width: 100%; /* Hacer que el campo ocupe todo el ancho */
  }
  div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc; /* Color para el botón deshabilitado */
  }
  