<div class="transaccion-container">
    <div class="transaccion-box">
      <h2>Gestión de Transacciones</h2>
      <button mat-raised-button color="primary" type="submit" (click)="realizarDeposito()">
        Deposito
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="realizarRetiro()">
        Retiro
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="realizarTransferencia()">
        Transferencia
      </button>
    </div>
  </div>
  