<div class="deposito-container">
    <h2>Realizar Depósito</h2>
    <form [formGroup]="depositoForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="fill">
        <mat-label>Número de Cuenta</mat-label>
        <input matInput formControlName="cuenta_id" required>
        <mat-error *ngIf="depositoForm.get('cuenta_id')?.hasError('required')">
          El número de cuenta es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Monto</mat-label>
        <input matInput type="number" formControlName="monto" required>
        <mat-error *ngIf="depositoForm.get('monto')?.hasError('required')">
          El monto es requerido.
        </mat-error>
        <mat-error *ngIf="depositoForm.get('monto')?.hasError('min')">
          El monto debe ser mayor que 0.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="depositoForm.invalid">
        Depositar
      </button>
    </form>
  </div>